.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar{
  background-color:steelblue;
}
mat-sidenav-content{
  background-color:aliceblue;
}

span, a{
 color:whitesmoke !important; 
}

mat-nav-list{
  margin : 44%;
}

a {
  margin-left: 75px;
}
