
<div id="divAddUser">
    <h3>Adicionar Novo Usuário</h3>

  <form class="example-container" [formGroup]="userNewForm" (ngSubmit)="addUser(userNewForm.value)">
    <mat-form-field id = "companyId">
      <input matInput type="number"  name="companyId" formControlName="companyId">
      <mat-placeholder class="placeholder">Id company:1</mat-placeholder>
    </mat-form-field>
    <mat-form-field>
      <textarea  matInput name="email" placeholder="email:italo@hot.com" formControlName="email"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput type = "date" name="birthdate" placeholder="Data Nascimento" formControlName="birthdate">
    </mat-form-field>
  
    <button type="submit" [disabled]="!userNewForm.valid" mat-raised-button color="primary" >Adicionar</button>
</form>
</div>

