mat-form-field {
    margin-left:35px;
  }

 #companyId{
     width: 13%;
 } 
 #divAddUser{
    margin-top: 4%;
    margin-left: 4%;
 }

 h3{
     color:steelblue;
 }
 .mat-focused .placeholder {
    color: steelblue;
}

form{
    background-color: steelblue;
    width: 65%;
}
button{
    margin-left:35px; 
    background-color: aliceblue !important;
    color:steelblue !important;
}

